#iconCrypto{
    max-width: 100px;
    border-radius: 50px;
}

#iconCryptoModal{
    max-width: 50px;
    border-radius: 50px;
}

.hidden{
    display: none;
}

.modalInput::placeholder {
    color: #343a40;
}

.cursor-pointer{
    cursor:pointer;
}

