#iconCrypto{
    max-width: 100px;
    border-radius: 50px;
}

#iconCryptoModal{
    max-width: 50px;
    border-radius: 50px;
}

.hidden{
    display: none;
}

.modal-background {
    background-color: #212529;
}

.modalInput {
    border: gray;
    font-size: 13px;
}

.modalInput::placeholder {
    color: #fff;
}

.modalInput:focus {
    box-shadow: none;
    border: gray;
}

.coin-container {
    background-color: #393838;
}

.coin-image {
    background-color: lightgray;
    padding: 10px;
}

.small-content {
    font-size: 12px;
}

.medium-content {
    font-size: 14px;
}

.cursor-pointer{
    cursor: pointer;
}
